<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    {% load static %}
    <base href="{{ request.build_absolute_uri }}">
    <title>Pinocchio's Pizza & Subs</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

            <!-- generic bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">




    <!-- google font -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Kreon:300,400,700'>

    <!-- js -->
    <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="120" >
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-expand-lg navbar-static-top navbar-dark bg-dark"style="margin-bottom: 00px;top:0;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav-fill w-100 .mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
         <li class="nav-item active">
        <a class="nav-link" href="/menu/">Menu <span class="sr-only">(current)</span></a>
      </li>
        {% if user.is_authenticated %}
        <li class="nav-item active">
            <a class="nav-link" href="/shoppingCart/">Shopping Cart <span class="sr-only">(current)</span></a>
        </li>
            {% endif %}
        {% if user.is_staff %}
        <li class="nav-item active">
            <a class="nav-link" href="/orderManagement/">Manage Open Orders<span class="sr-only">{current)</span></a>
        </li>
        {% endif %}
         <li class="nav-item active">
             {% if user.is_authenticated %}
             <a class="nav-link" href="/logout/">Sign Out <span class="sr-only">(current)</span></a>
             {% else %}
             <a class="nav-link" href="/access/">Sign In / Register <span class="sr-only">(current)</span></a>
            {% endif %}
      </li>

                </ul>
  </div>
</nav>

{% block content %}
{% endblock %}


    <footer id="footer" class="dark-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <div class="row">
                <div class="col-sm-6">
                    &copy; Copyright PizzaKing 2018
                    <br/>Theme From <a class="themeBy" href="http://www.Themewagon.com">ThemeWagon</a>
                </div>
                <div class="col-sm-6">
                    <div class="social-bar">
                        <a href="https://www.instagram.com/pinocchiospizza1/" class="fa fa-instagram tooltipped" title=""></a>
                        <a href="https://www.facebook.com/Pinocchios-Pizza-Subs-66665703521/" class="fa fa-facebook-square tooltipped" title=""></a>
                        <a href="https://twitter.com/pinocchiospizz?lang=en" class="fa fa-twitter-square tooltipped" title=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </footer>

    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/jquery.actual.min.js"></script>
    <script src="/static/js/jquery.scrollTo.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>