{% extends "orders\base.html" %} {% block content %}
<style>
    #footer{
    position:fixed;
    bottom:0;
}
</style>
<script src="/static/js/orderFunctions.js"></script>
<script type="text/javascript">
  function init() {
    var itemData = {{ item }}
    var availableToppings = {{ availableToppings }}
    renderItem(itemData[0].fields);
    renderToppingsForm(availableToppings);
    addAddToOrderButton();
  }
  document.addEventListener("DOMContentLoaded", init);
   var itemData = {{ item }}
</script>
<div class="container" id="itemContainerSection">
</div>
{% endblock %}
