{% extends "orders\base.html" %} {% block content %}
<style>
    #footer{
    position:fixed;
    bottom:0;
    width:100%;
}
</style>

<script src="/static/js/orderFunctions.js"></script>
<script type="text/javascript">
  function init() {
    renderItem(itemData[0].fields);
    renderToppingsForm(availableToppings);
    addAddToOrderButton();
  }
   var itemData = {{ item }}
   var availableToppings = {{ availableToppings }}
   document.addEventListener("DOMContentLoaded", init);
</script>
<div class="container" >
<div class="alert alert-danger" id="orderError" style="display:none;margin-top:20px;"></div>
</div>
<div class="container" id="itemContainerSection" style="margin-top:10px;">
</div>
{% endblock %}
