{% extends "orders\base.html" %} {% block content %}
<script src="/static/js/orderFunctions.js"></script>
<script type="text/javascript">
  function init() {
    var localShoppingCart = JSON.parse(localStorage.getItem('shoppingCart'));
    console.log(localShoppingCart);
    var itemData = {{ item }}
    var availableToppings = {{ availableToppings }}
    renderItem(itemData[0].fields);
    renderToppingsForm(availableToppings);
    addAddToOrderButton();
  }
  document.addEventListener("DOMContentLoaded", init);


  document.addEventListener("DOMContentLoaded", init);
</script>
<div class="container" id="itemContainerSection">
</div>
{% endblock %}
