{% extends "orders\base.html" %} {% block content %}
<style>
    #footer{
    position:fixed;
    bottom:0;
    width:100%;
}
</style>
<script src="/static/js/orderFunctions.js"></script>
<script type="text/javascript">
  function init() {
    var itemData = {{ item }}
    var availableToppings = {{ availableToppings }}
    renderItem(itemData[0].fields);
    renderToppingsForm(availableToppings);
    loadOrderForEdit();
  }
  var itemData = {{ item }}
  document.addEventListener("DOMContentLoaded", init);
  var orderId = "{{ order_id }}";
  var localShoppingCart = JSON.parse(localStorage.getItem('shoppingCart'));
  document.addEventListener("DOMContentLoaded", init);
</script>
<div class="container" >
<div class="alert alert-danger" id="orderError" style="display:none;margin-top:20px;"></div>
</div>
<div class="container" id="itemContainerSection">
</div>
<div class="container" id="editItemSubmit">
    <div class="row" id="button row">
        <div class="col">
        <input type="button" value="Submit Order Update" id="submitOrderButton" onclick="updateOrder()" class="btn">
            <input type="button" value="Cancel Order Update" onclick="location.href='/shoppingCart'" class="btn">
            <input type="button" value="Remove Item From Order" onclick="removeItemFromOrder()" class="btn">
        </div>
    </div>
</div>
{% endblock %}
