{% extends "orders\base.html" %} {% block content %}
<style>
    #footer{
    position:fixed;
    bottom:0;
    width:100%;
}
</style>
<script src="/static/js/shoppingCartFunctions.js"></script>
<script type="text/javascript">
  function init() {
   var localShoppingCart = JSON.parse(localStorage.getItem('shoppingCart'))
   populateShoppingCart(localShoppingCart);
   getTotal(localShoppingCart);

  }
  document.addEventListener("DOMContentLoaded", init);
</script>
<div class="container" id="itemContainerSection">
    <h1>Your Order</h1>
    <hr>
    <table class="table" id="orderTable">
        <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Size</th>
            <th scope="col">Toppings</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="orderBody"></tbody>
    </table>
    <hr>
    <div class="row">
        <div class="col" id="totalField">
        </div>
    </div>
        <div class="row">
            <div class="col" id="checkoutButtonField">
                <input type="button" class="btn" value="Checkout" style="width:200px;float:right;" >
                <input type="button" class="btn" value="Continue Shopping" style="width:200px;float:right;margin-right:20px;" onclick="location.href='/menu'">
            </div>
        </div>


</div>
{% endblock %}
